.header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-between;
    max-width: 1920px;
    width: 100%;
    padding: 20px 40px;
    z-index: 2;
    overflow-x: hidden;
}

.header-nav, .header-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
}

.nav-menu__content > li > a{
    font-family: 'Mont-HeavyDEMO';
    font-size: 34px;
}

.language{
    display: flex;
    column-gap: 6px;
}

.bar{
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 9px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2){opacity: 0;}
.hamburger.active .bar:nth-child(1){transform: translateY(13px) rotate(45deg);}
.hamburger.active .bar:nth-child(3){transform: translateY(-13px) rotate(-45deg);}
.adapative{display: none;}

.nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #338eb8;
    opacity: 0;
    padding: 30px;
    user-select: text;
    transition: 0.4s ease-out;
    z-index: -1;
    overflow-y:scroll;
    overflow-x:hidden;
}

.nav-menu__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 60px;
}

.nav-menu__info{position: absolute; bottom: 40px; left: 30px;}

.nav-menu.active{ top: 0; opacity: 1; }